body {
    background-color: #D6E5FA;
    margin: 0;
    font-size: 13px;
}

header {
    background-color:#0e7be3;
    width: 400px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
}
h1 {
    color: white;
    font-size: 3em;
    margin: 0;
}


/* first */
.white {
    background-color: #FFFFFF;
    width: 360px;
    margin: 0 auto;
}
.white.first {
    height: 545px;
}

.colaBoxes {
  margin: 23px;
}
.colaBox {
    display: inline-block;
    width: 94px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 0 5px -3px rgba(0,0,0,1);
    margin: 4px;
    text-align: center;
}
.colaBox>img {
    margin-top: 10px;
}
.colaBox>p {
    font-size: 9px;
    margin-top: 2px;
    margin-bottom: 7px;
}
.price {
    display: inline-block;
    background-color: #0e7be3;
    width: 70px;
    height: 22px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 50px;
}

.first2 {
    margin: 23px;
}
.showValue {
    display: inline-block;
    background-color: #D6E5FA;
    width: 200px;
    height: 33px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
    text-indent: 10px;
    border-radius: 7px;
    margin-right: 12px;
    margin-bottom: 11px;
}
input {
    width: 200px;
    height: 33px;
    padding: 0;
    text-indent: 6px;
    border-radius: 7px;
    border: 1px solid #e1e6ea;
    font-size: 15px;
    margin-right: 12px;
}
input::placeholder {
    color: #BDBDBD;
    font-size: 13px;
}
.btn {
    width: 94px;
    height: 32px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px -3px rgba(0,0,0,1);
    border-style: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
    opacity: 1;
}
.btn:hover {
    opacity: 0.8;
}


.first3 {
    margin: 23px;
    display: flex;
}
.viewImg {
    display: inline-block;
    width: 176px;
    height: 80px;
    background-color: #D6E5FA;
    border-radius: 7px;
    border: 1px solid #e1e6ea;
    padding: 12px;
    overflow: scroll;
    margin-right: 12px;
}
.getDrinkBox {
    background-color: #FFFFFF;
    width: 170px;
    height: 46px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.getDrinkBox > img {
    margin: 0 10px;
}
.colaName {
    color: #333333;
    font-size: 9px;
}
.count {
    font-size: 14px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 4px 11px 6px 11px;
    margin-left: auto;
    margin-right: 10px;
}
.btn.get {
    background-color: #0e7be3;
    height: 106px;
    color: #FFFFFF;
}

/* second */
.showValue.long {
    width: 306px;
    height: 32px;
    margin: 9px 27px;
}

/* third */
.getDrinks {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.viewImg.big {
    width: 306px;
    height: 364px;
    padding: 0;
}
.getDrinkBox.long {
    width: 276px;
}
.total {
    text-align: right;
}
