#app {
    overflow: hidden;
    border: 1px solid powderblue;
    border-radius: 8px;
}

.editor {
    min-height: 150px;
    padding: 10px;
}

.options {
    display: flex;
    padding: 8px;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid white;
    background-color: skyblue;
}

.options li:nth-child(4n) {
    margin-right: 8px;
}

.options li button {
    border: none;
    border-radius: 3px;
    padding: 4px;
}

.options li button:hover {
    background-color: powderblue;
    border-color: powderblue;
}
