/* rgb(136, 136, 136) */

body {
    color: white;
    background-color: black;
}

main {
    display: flex;
}

.nav {
    width: 20%;
    text-align: center;
    /* border: 3px solid paleturquoise; */
}
.pixar {
    width: 80px;
    margin-bottom: 15px;
}

.nav_a {
    display: block;
    margin-bottom: 10px;
    color: rgb(136, 136, 136);
    font-size: 1.3rem;
    text-decoration: none;
}
.nav_a.click {
    color: white;
}

.contentSection_col {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
}

.contentWrap {
    /* width: 80%; */
    display: flex;
    background: linear-gradient(
            to bottom,
            rgba(20, 20, 20, 0) 25%,
            rgba(20, 20, 20, 0.75) 60%,
            rgba(20, 20, 20, 1) 85%
          ), url('images/up.jpeg');
        background-size: 100%;
        background-repeat: no-repeat;    
}

.content_info {
    width: 70%;
    margin: 0 10% 5% 5% ;
}

.new {
    background-color: red;
    width: 40px;
    height: 15px;
    text-align: center;
    font-size: 11px;
    border-bottom: 2px solid rgb(170, 13, 13);
    border-radius: 3px;
    box-sizing: border-box;
}
.info_title {
    font-size: 3rem;
    margin: 0.2rem 0 0.4rem;
}
.info_story {
    color: rgb(136, 136, 136);
}

.content_infoPlus {
    width: 30%;
    margin-right: 3%;
}
.infoPlus_dl > div {
    margin-bottom: 20%;
}
.infoPlus_dl > div > dt{
    margin: 15px 0;
}
.infoPlus_dl > div > dd{
    margin-left: 10px;
}

.genre > span {
    background-color: rgb(50, 48, 48);
    padding: 3px 5px;
    color: rgb(136, 136, 136);
    line-height: 30px;
    border-radius: 5px;
}


.cast {
    width: 35px;
    margin-right: -15px;
    border: 3px solid black ;
    border-radius: 50%;
}

.secretbox {
    width: 100%;
    height: 70vh;
}


@media (max-width: 940px) {
	.secretbox {
        width: 100%;
        height: 50vh;
    }
}

/* 모바일 */
@media (min-width: 390px) and (max-width: 690px) {
    .secretbox {
        width: 100%;
        height: 45vh;
    }
    .secretbox.infoPlus {
        display: none;
    }

    .contentWrap {
        display: inline;
    }
    
    .content_info {
        width: 93%;
        margin: 0 9% 5% 4%;
    }
    .info_title {
        font-size: 2.3rem;
    }

    .content_infoPlus {
        width: 40%;
        margin: 10% 9% 5% 4%;
    }

    main {
        display: inline;
    }
    .nav {
        width: 100%;
        padding: 10px 10px;
        text-align: left;
    }
    .nav_a {
        display: inline;
        margin-right: 5%;
        font-size: 1rem;
    }
    .pixar {
        width: 18px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    .contentSection_col {
        width: 100%;
    }

    .contentWrap {
        background: linear-gradient(
                to bottom,
                rgba(20, 20, 20, 0) 25%,
                rgba(20, 20, 20, 0.75) 40%,
                rgba(20, 20, 20, 1) 65%
              ), url('images/up.jpeg');
            background-size: 100%;
            background-repeat: no-repeat;    
    }
}